body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
    
}

h2 {}

header {}
.containerheader{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgb(192, 49, 49);
    
}
header{
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: space-between;
    color: white;
}

header ul li{
    display: inline;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}
header li a{
    text-decoration: none;
    color: white;
    
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
    gap: 10px; /* Espaço entre as colunas */
}
.container{
    margin: 40px 15%;
    justify-content: center;
}
.container img{
    width: 90%;
    
    
}
.sobre2 h2{
    border-bottom: 2px solid rgb(192, 49, 49);
    padding-bottom: 10px;
    font-style: italic;
    color: rgb(192, 49, 49);
}
#produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 15%;
}
article{
    padding: 10px;
    align-items: center;
}
.product{
    margin: 0 15%;
    color: rgb(192, 49, 49);;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(192, 49, 49);;
}

button{
    background-color:rgb(192, 49, 49);;
    padding: 5px;
    width: 90%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(223, 95, 95);
    
}
article img{
    width: 200px;
    height: 200px;
}

@media screen and (min-width:641px) and (max-width:1023px) {
    

header{
    
    width: 100%;
    max-width: 1023px;
}
header h1{
    font-size: 20px;
    margin-left: 40px;
}
header ul{
    margin-right: 40px;
}

section{
    display: block;
    justify-content: center;
    
}
section img{
    width: 100%;
    margin: 0 5%;
    padding-top: 20px;
    
}
#produtos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 5%;
}

article{
    margin: 0 5%;
    
}
.product{
    margin: 0 5%;
}


.container{
    
    margin: 0 5%;
}
}
@media screen and (max-width:640px) {
    header{
    
        width: 100%;
        max-width: 640px;
    }

header {}
    header h1{
        font-size: 20px;
        margin-left: 40px;
    }
    header ul{
        margin-right: 40px;
        
    }
    
    section{
        display: block;
        justify-content: center;
        
    }
    section img{
        width: 100%;
        margin: 0 5%;
        padding-top: 20px;
        
    }
    #produtos{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0 5%;
    }
    
    article{
        margin: 0 5%;
        
    }
    .product{
        margin: 0 5%;
    }
    
    
    .container{
        
        margin: 0 5%;
}
}